@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

.RatingBox {
  font-family: "Overpass";
  position: absolute;
  height: 26rem;
  width: 26rem;
  top: 50%;
  left: 50%;
  margin-top: -13rem;
  margin-left: -13rem;
  /* Black (Gradient) */
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 30px;
  text-align: left;
}
.RatingBox h4, .RatingBox img, .RatingBox p,.RatingBox div, .RatingBox button{
  margin: 1rem 2.5rem;
}
.RatingBox .svg {
  margin: 2rem;
  background: #262E38;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  position: relative;
}
.RatingBox .svg svg {
  position: absolute;
  top:15px;
  right: 15px;
}
.RatingBox h4 {
  color : white;
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
}
.RatingBox p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #969FAD;
  width: 80%;
  margin-bottom: 2rem;
}
.RatingBox div {
  display: flex;
  justify-content: space-between;
}
.RatingBox .radio-input div {
  margin: 0;
  position: relative;
  border-radius: 50%;
}
.radio-input  label {
  position: absolute;
  top: 16px;
  right: 20px;
  color:#7C8798;
  pointer-events: none;
}
.RatingBox input[type="radio"] {
  appearance: none;
  background: #262E38;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
}
div.radio-input div:hover input[type="radio"] {
  cursor:pointer;
  background-color: #7C8798;
}
.radio-input div:hover label {
  color: white;
  cursor: pointer;
}

.RatingBox .radio-input div input[type="radio"]:checked {
  background-color: #FC7614;
}
.RatingBox .radio-input div input[type="radio"]:checked+label {
  color: white;
}
.RatingBox button {
  text-align: center;
  width: 80%;
  background: #FC7614;
  border-radius: 22.5px;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0;
  letter-spacing: 2px;
}
.RatingBox button:hover {
  cursor:pointer;
  background: white;
  color: #FC7614;
}
.RatingBox button:active {
  transform: scale(0.9);
  transition: 0.1s;
}